<html>
    <center>
    This is a  {{ ansible_distribution }} System.
    The system uptime is {{ ansible_uptime_seconds }}sec.
    The Ip of system is {{ ansible_default_ipv4.address }}.
    </center>
</html>
